
.container{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 3px dashed black;
}
.username, .password, .button{
    border: 1px solid black;
    height: 30px;
    background-color:beige;
}
.red{
    border: 2px solid red;
}
.green{
    border: 2px solid green;
}